<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SimulatorCSS</title>
    <link href="../Static/CSS/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <!--<div class="title-block">
        <h1>Базовые свойства. Размеры</h1>
        <h2>Занимательный подзаголовок</h2>
    </div><p>строка 1</p>
    <p>строка 2</p>
    <p>строка 3</p>
    <p>строка 4</p>
    <ul>
        <li>Строка 1</li>
        <ul>
            <li>Строка 2</li>
            <ul>
                <li>Строка 3</li>
            </ul>
        </ul>
    </ul>-->
    <!--<div class="red">
        <div class="blue"></div>
    </div>-->
    <!--<h1>Базовые свойства. Расстояния, границы и отступы</h1>
    <h2>Занимательный подзаголовок</h2>-->
    <!--<div class="wrapper">
        <span class="item">1</span>
        <span class="item">2</span>
        <span class="item">3</span>
        <span class="item">4</span>
        <span class="item">5</span>
        <span class="item">6</span>
        <span class="item">7</span>
        <span class="item">8</span>
        <span class="item">9</span>
        <span class="item">10</span>
    </div>-->
    <!--<div class="pink"></div>
    <h1>Position</h1>-->
    <!--<div class="blue">
        <div class="red"></div>
    </div>
    <h1>Position</h1>-->
    <!--<div class="wrapper">-->
    <!--<span class="item">1</span>
    <span class="item">2</span>
    <span class="item">3</span>
    <span class="item">4</span>
    <span class="item">5</span>
    <span class="item">6</span>
    <span class="item">7</span>
    <span class="item">8</span>
    <span class="item">9</span>
    <span class="item">10</span>-->
    <!--<span class="red"></span>
    <span class="blue"></span>
    </div>-->
    <!--<div class="wrapper">
        <span class="item">1</span>
        <span class="item">2</span>
        <span class="item">3</span>
        <span class="item">4</span>
        <span class="item">5</span>
        <span class="item">6</span>
        <span class="item">7</span>
        <span class="item">8</span>
        <span class="item">9</span>
        <span class="item">10</span>
    </div>-->
    <!--<ul>
        <li>О компании</li>
        <li>Наши услуги</li>
        <li>Ваши отзывы</li>
        <li>Контакты</li>
    </ul>-->
    <!--<div class="wrapper">
        <span class="item">1</span>
        <span class="item">2</span>
        <span class="item">3</span>
        <span class="item">4</span>
        <span class="item">5</span>
        <span class="item">6</span>
        <span class="item">7</span>
        <span class="item">8</span>
        <span class="item">9</span>
        <span class="item">10</span>
    </div>-->

    <div class="blue">
    </div>
</body>
</html>